*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #191b25;
}

html {
  font-size: 10px;
}

.container {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #191b25;
}

.header__inner {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 760px) {
  .header__inner {
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
  }
}

.logo {
  width: 148px;
  height: 20px;
}

.logo__item {
  width: inherit;
  height: inherit;
}

.header__block {
  display: inline-flex;
  gap: 3.2rem;
  align-items: center;
}

.login-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid transparent;
  padding: 0.4rem;
  cursor: pointer;
}

.login-link:hover {
  color: #0077e2;
}

.login-link:focus {
  border: 1px solid #0077e2;
  border-radius: 7px;
  color: #fff;
}

.start-button {
  height: 32px;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border-radius: 7px;
  border: 1px solid #fff;
  background: #191b25;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
}

.start-button:hover {
  color: #0077e2;
  border: 1px solid #0077e2;
}

.start-button:focus {
  color: #fff;
  border: 1px solid #0077e2;
}

.menu-dialog-popup__icon {
  width: 40px;
  height: 24px;
  margin-right: 1.2rem;
  display: none;
}

.menu-dialog-popup__burger {
  width: inherit;
  height: inherit;
}

@media screen and (max-width: 760px) {
  .header__start-button {
    display: none;
  }

  .login-link {
    display: none;
  }

  .menu-dialog-popup__icon {
    display: block;
  }
}

.menu-dialog-popup__dialog {
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vh;
  border: none;
}

.menu-dialog-popup__dialog:not(:target) {
  display: none;
}

.menu-dialog-popup__dialog:target {
  display: block;
}

/* .menu-dialog-popup__dialog:target .menu-dialog-popup__icon {
  display: none;
}

.menu-dialog-popup__dialog:target .menu-dialog-popup__icon-close {
  display: block;
} */

.menu-dialog-popup__window {
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 2;
  padding: 8.4rem 6.2rem 3rem;
  height: 100%;
  width: 100%;
  background-color: #191b25;
}

.menu-dialog-popup__icon-close {
  position: absolute;
  top: -50px;
  right: 0;
  width: 60px;
  height: 40px;
  margin-right: 1.2rem;
  background-color: #191b25;
}

.menu-dialog-popup__item-close {
  width: 24px;
  height: 24px;
}

.navbar-list {
  display: inline-flex;
  flex-direction: column;
  gap: 3.2rem;
}

.navbar-list__item {
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 150%;
}

.hero {
  min-height: 100vh;
  padding-top: 30vh;
  position: relative;
}

@media screen and (max-width: 760px) {
  .hero {
    padding-top: 15vh;
    background-image: url(../img/BG-tel.png);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
  }
}

.hero__title {
  font-size: 4rem;
  font-weight: 500;
  max-width: 500px;
  margin-bottom: 3.2rem;
}

.section-title {
  background-image: linear-gradient(90deg, #ffffff, #268eec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__text {
  color: #aeb4c8;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 392px;
  margin-bottom: 5rem;
}

@media screen and (max-width: 760px) {
  .hero__title {
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
  }

  .hero__text {
    font-size: 1.6rem;
    margin-bottom: 4.8rem;
  }
}

.start-button--blue {
  background-color: #0077e2;
  height: 48px;
  border-color: #0077e2;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
}

.start-button--blue:hover {
  color: #fff;
  background: #0063ce;
}

.start-button--blue:focus {
  color: #ffffff;
  background-color: #0077e2;
  border: 1px solid #fff;
}

.start-button__icon {
  margin-left: 1rem;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.hero-img-back__item {
  position: absolute;
  right: 0;
  top: 0;
  object-position: right center;
  width: 60%;
  height: 100%;
  /* max-height: 70%; */
  object-fit: contain;
  z-index: -1;
}

.hero-img-vector__item {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -2;
  object-fit: contain;
  object-position: 0% 100%;
}

@media screen and (max-width: 760px) {
  .hero-img-back__item {
    display: none;
  }

  .hero-img-vector__item {
    display: none;
  }
}

.leader-section {
  margin-bottom: 15px;
}

.section__note {
  color: #268eec;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.leader-section__title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 9.9rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

@media screen and (max-width: 760px) {
  .section__note {
    text-align: left;
    font-size: 1.2rem;
  }

  .leader-section__title {
    text-align: left;
    font-size: 2.8rem;
    margin-bottom: 4.8rem;
  }
}

.leader-section__cards {
  width: 100vw;
  display: flex;
  gap: 80px;
  overflow-x: auto;
}

@media screen and (max-width: 760px) {
  .leader-section__cards {
    gap: 1.6rem;
  }
}

.section-scroll::-webkit-scrollbar {
  width: 15px;
}

.section-scroll::-webkit-scrollbar-track {
  background-color: #565966;
  visibility: hidden;
}

.section-scroll::-webkit-scrollbar-thumb {
  background-color: #1d1d22;
  border: 2px solid #565966;
  border-radius: 9px;
  visibility: hidden;
}

.scroll-inner:hover .section-scroll::-webkit-scrollbar-thumb {
  visibility: visible;
}

.scroll-inner:hover .section-scroll::-webkit-scrollbar-track {
  visibility: visible;
}

.advantage-card {
  position: relative;
  width: 485px;
  height: 485px;
  flex-shrink: 0;
  /* flex-grow: 1; */
  margin-bottom: 2rem;
}

.advantage-card:first-child {
  margin-left: 14rem;
}

.advantage-card:last-child {
  margin-right: 16rem;
}

@media screen and (max-width: 760px) {
  .advantage-card {
    width: 314px;
    height: 314px;
  }

  .advantage-card:first-child {
    margin-left: 1.7rem;
  }

  .advantage-card:last-child {
    margin-right: 1.7rem;
  }
}

.advantage-card-item {
  width: 440px;
  height: 440px;
  border-radius: 10px;
}

.advantage-card-item--back {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border: 1px solid #87888f00;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0.07%,
    rgba(255, 255, 255, 0) 99.93%
  );
}

.advantage-card-item--front {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: #20222c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 6rem;
  overflow-y: auto;
  padding-right: 6rem;
}

@media screen and (max-width: 760px) {
  .advantage-card-item {
    width: 287px;
    height: 289px;
  }

  .advantage-card-item--front {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.advantage-card__icon {
  margin-bottom: 4rem;
}

.graphic-icon {
  width: 65px;
  height: 65px;
}

.graphic-icon__item {
  width: inherit;
  height: inherit;
}

.advantage-card__title {
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.advantage-card__text {
  color: #e0e2e9;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
}

@media screen and (max-width: 760px) {
  .advantage-card__title {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }

  .advantage-card__text {
    font-size: 1.6rem;
  }
}

.easy-cryptorio-section {
  width: 100%;
  margin-top: 15.8rem;
  margin-bottom: 18.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 760px) {
  .easy-cryptorio-section {
    flex-wrap: wrap;
    margin-bottom: 16rem;
  }
}

/* .easy-cryptorio-section__block {
  flex: 0 1 50%;
  width: 100%;
} */

.easy-cryptorio-section__title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 140%;
  max-width: 498px;
  margin-bottom: 3.2rem;
}

.easy-cryptorio-section__text {
  color: #e0e2e9;
  font-size: 2rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 392px;
  margin-bottom: 4rem;
}

.start-button--without-frame {
  padding-left: 4px;
  padding-right: 4px;
  background-color: transparent;
  height: auto;
  border: none;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
}

@media screen and (max-width: 760px) {
  .easy-cryptorio-section__title {
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
  }

  .easy-cryptorio-section__text {
    color: #e0e2e9;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }

  .easy-cryptorio-section__start-button {
    margin-bottom: 3.6rem;
  }
}

.start-button__icon--without-frame {
  width: 20px;
  height: 20px;
}

.start-button--without-frame:hover .start-button__icon {
  fill: #0077e2;
}

.start-button--without-frame:focus .start-button__icon {
  fill: #fff;
}

.easy-cryptorio-section__img {
  width: 100%;
  max-width: 556px;
  height: 0;
  padding-bottom: 33%;
  /* background-color: red; */
  position: relative;
}

.easy-cryptorio-section__item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}

@media screen and (max-width: 760px) {
  .easy-cryptorio-section__img {
    padding-bottom: 80%;
  }
}

.revolution-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-bottom: 13.2rem;
}

@media screen and (max-width: 860px) {
  .revolution-section {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.wallet-cards {
  position: relative;
  /* flex: 0 0 60%; */
  width: 604px;
  height: 505px;
}

.wallet-card {
  width: 440px;
  height: 434px;
}

.wallet-card__img {
  width: inherit;
  height: inherit;
}

.wallet-card--back {
  position: absolute;
  bottom: 0;
  right: 0;
}

.wallet-card--front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 860px) {
  .wallet-cards {
    width: 318px;
    height: 265px;
  }

  .wallet-card {
    width: 232px;
    height: 228px;
  }
}

.revolution-section__block {
  flex: 0 0 40%;
}

.revolution-section__title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 140%;
  max-width: 440px;
  margin-bottom: 3.2rem;
}
.revolution-section__text {
  color: #e0e2e9;
  font-size: 2rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 392px;
  margin-bottom: 4rem;
}

@media screen and (max-width: 860px) {
  .revolution-section__block {
    flex: 1 0 40%;
    order: -1;
  }

  .revolution-section__title {
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
  }

  .revolution-section__text {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }
}

.pro-section {
  width: 100%;
  margin-bottom: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 760px) {
  .pro-section {
    justify-content: center;
    gap: 5rem;
    margin-bottom: 13rem;
  }
}

.pro-section__title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 140%;
  max-width: 498px;
  margin-bottom: 3.2rem;
}

.pro-section__text {
  color: #e0e2e9;
  font-size: 2rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 392px;
  margin-bottom: 4rem;
}

@media screen and (max-width: 760px) {
  .pro-section__title {
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
  }

  .pro-section__text {
    color: #e0e2e9;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }
}

.pro-section__img {
  /* flex: 0 1 50%; */
  width: 100%;
  max-width: 500px;
  height: 0;
  padding-bottom: 52%;
  position: relative;
}

.pro-section__item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: contain;
}

@media screen and (max-width: 760px) {
  .pro-section__title {
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
  }

  .pro-section__text {
    color: #e0e2e9;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }

  .pro-section__img {
    padding-bottom: 90%;
  }
}

.confidence-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

@media screen and (max-width: 760px) {
  .confidence-section {
    align-items: start;
    margin-bottom: 13rem;
  }
}

.confidence-section__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 3.2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.confidence-section__text {
  color: #e0e2e9;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 604px;
  margin-bottom: 6.9rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

@media screen and (max-width: 760px) {
  .confidence-section__title {
    text-align: left;
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
  }

  .confidence-section__text {
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: 4.7rem;
  }
}

.confidence-form {
  /* max-width: 81.6rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  background-color: #191b25;
}

@media screen and (max-width: 760px) {
  .confidence-form {
    justify-content: space-between;
    /* flex-wrap: nowrap; */
    /* flex-direction: column; */
  }
}

.confidence-form__label {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 2.5rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.confidence-form__input {
  height: 0;
  width: 0;
  z-index: -1;
  outline: none;
}

.confidence-form__input {
  margin-right: 6.4rem;
}

@media screen and (max-width: 760px) {
  .confidence-form__label {
    flex-basis: calc(33% - 2.4);
    font-size: 1.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 0.8rem;
  }

  .confidence-form__input {
    margin-right: 2.4rem;
  }
}

.confidence-form__img {
  position: relative;
  width: 100vw;
  height: 0;
  padding-bottom: 20%;
}

.confidence-form__item {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  object-fit: contain;
}

/* @media screen and (max-width: 760px) {
  .confidence-form__img {
    min-width: 300px;
  }
} */

.confidence-form__input:first-of-type:checked
  + .confidence-form__label
  ~ .confidence-form__item:first-of-type {
  visibility: visible;
}

.confidence-form__input:nth-of-type(2):checked
  + .confidence-form__label
  ~ .confidence-form__item:nth-of-type(2) {
  visibility: visible;
}

.confidence-form__input:nth-of-type(3):checked
  + .confidence-form__label
  ~ .confidence-form__item:nth-of-type(3) {
  visibility: visible;
}

.confidence-form__input:checked + .confidence-form__label {
  border-bottom: 2px solid #618dff;
}

.confidence-form__line {
  flex: 0 1 60%;
  height: 1px;
  background: #3e404a;
}

@media screen and (max-width: 760px) {
  .confidence-form__line {
    display: none;
  }
}

.feedback-section {
  margin-bottom: 20rem;
}

@media screen and (max-width: 760px) {
  .feedback-section {
    margin-bottom: 16rem;
  }
}

.feedback-section__title {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 5.6rem;
}

@media screen and (max-width: 760px) {
  .feedback-section__title {
    font-size: 2.8rem;
    margin-bottom: 4.9rem;
  }
}

.feedback-section__cards {
  width: 100vw;
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-inline-start: 6rem;
}

.feedback-card {
  scroll-snap-align: start;
  width: 392px;
  /* height: 245px; */
  flex-shrink: 0;
  margin-bottom: 2rem;
  border-radius: 8px;
  border: 1px solid #618dff;
  background: #272933;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 1.8rem;
  padding: 2.8rem;
}

.feedback-card:first-child {
  margin-left: 6rem;
}

.feedback-card:last-child {
  margin-right: 10rem;
}

@media screen and (max-width: 760px) {
  .feedback-section__cards {
    gap: 1.8rem;
    scroll-padding-inline-start: 3rem;
  }

  .feedback-card {
    width: 327px;
  }

  .feedback-card:first-child {
    margin-left: 1.6rem;
  }

  .feedback-card:last-child {
    margin-right: 3.6rem;
  }
}

.client-icon {
  width: 38px;
  height: 38px;
}

.client-icon__item {
  width: inherit;
  height: inherit;
}

.feedback-card__title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.feedback-card__subtitle {
  color: #248ded;
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 0.8rem;
}

/* @media screen and (max-width: 760px) {
  .feedback-card__subtitle {
    word-break: break-word;
  }
} */

.feedback-card__text {
  color: #e0e2e9;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
}

.news-section {
  margin-bottom: 20rem;
}

.news-section__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 9.7rem;
}

@media screen and (max-width: 760px) {
  .news-section {
    margin-bottom: 16rem;
  }

  .news-section__note {
    padding: 0;
  }

  .news-section__title {
    text-align: left;
    font-size: 2.8rem;
    margin-bottom: 4.8rem;
  }
}

.news-section__cards {
  width: 100vw;
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-inline-start: 6rem;
}

.news-card {
  scroll-snap-align: start;
  width: 394px;
  min-height: 540px;
  flex-shrink: 0;
  margin-bottom: 2rem;
  border-radius: 8px;
  border: 1px solid #0cc3cf;
  background: #20222c;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2.8rem;
}

.news-card:first-child {
  margin-left: 6rem;
}

.news-card:last-child {
  margin-right: 10rem;
}

@media screen and (max-width: 760px) {
  .news-section__cards {
    gap: 1.6rem;
    scroll-padding-inline-start: 3rem;
  }

  .news-card {
    width: 329px;
    min-height: 374px;
  }

  .news-card:first-child {
    margin-left: 1.6rem;
  }

  .news-card:last-child {
    margin-right: 3.6rem;
  }
}

.news-card__title {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 2.6rem;
}

.news-card__text {
  color: #e0e2e9;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 280px;
  margin-bottom: 3rem;
}

.news-card__time {
  flex-grow: 1;
  color: #aeb4c8;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.28px;
  margin-bottom: 3rem;
}

@media screen and (max-width: 760px) {
  .news-card__title {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }

  .news-card__text {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }

  .news-card__time {
    margin-bottom: 1.4rem;
  }

  .news-card__start-button {
    border-color: #272933;
  }
}

.conclusion-section {
  height: 100vh;
  width: 100%;
  background-image: url(../img/BG-conclusion-section.png);
  background-size: cover;
}

@media screen and (max-width: 760px) {
  .conclusion-section {
    background-image: url(../img/BG-tel-conclusion-section.png);
    background-position: 50% 50%;
    height: 537px;
  }
}

.conclusion-section__inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conclusion-section__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 140%;
  max-width: 531px;
  margin-bottom: 3.2rem;
}

.conclusion-section__text {
  color: #e0e2e9;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 5rem;
}

@media screen and (max-width: 760px) {
  .conclusion-section__inner {
    padding-top: 25%;
    height: 100%;
    align-items: start;
  }

  .conclusion-section__title {
    text-align: left;
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
  }

  .conclusion-section__text {
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: 4.8rem;
  }
}

/* .conclusion-section__button {
  max-width: max-content;
  flex-grow: 0;
} */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.footer__block {
  display: flex;
  gap: 3.2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer-link {
  text-decoration: none;
  color: #aeb4c8;
  font-size: 1.4rem;
  font-weight: 400;
}

.footer-note {
  color: #646978;
  font-size: 14px;
  font-weight: 400;
  margin-left: 1.6rem;
}

@media screen and (max-width: 760px) {
  .footer__block {
    gap: 0.8rem 0rem;
  }

  .footer-link {
    text-align: center;
    flex: 0 0 35%;
  }

  .footer-note {
    text-align: center;
    flex: 0 0 100%;
    margin-left: 0rem;
  }
}
