*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #191b25;
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

.container {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #191b25;
}

.header__inner {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 148px;
  height: 20px;
}

.logo__item {
  width: inherit;
  height: inherit;
}

.header__block {
  display: inline-flex;
  gap: 3.2rem;
  align-items: center;
}

.login-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
}

.start-button {
  height: 32px;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border-radius: 7px;
  border: 1px solid #fff;
  background: #191b25;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero {
  min-height: 100vh;
  padding-top: 25rem;
  position: relative;
}

.hero__title {
  font-size: 4rem;
  font-weight: 500;
  max-width: 500px;
  margin-bottom: 3.2rem;
}

.section-title {
  background-image: linear-gradient(90deg, #ffffff, #268eec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__text {
  color: #aeb4c8;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 392px;
  margin-bottom: 5rem;
}

.start-button--blue {
  background-color: #0077e2;
  height: 48px;
  border-color: #0077e2;
  display: inline-flex;
  align-items: center;
}

.start-button__icon {
  margin-left: 1rem;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.hero-img-back {
  position: absolute;
  right: 0;
  top: 126px;
  max-width: 939px;
  height: 541px;
  z-index: -1;
}

.hero-img-back__item {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-img-vector {
  position: absolute;
  left: 0;
  top: 445px;
  z-index: -2;
}

.hero-img-vector__item {
  width: 100vw;
}

.leader-section {
}

.leader-section__note {
  color: #268eec;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.leader-section__title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 9.9rem;
}

.leader-section__cards {
  /* position: absolute; */
  width: 1615px;
  display: flex;
  gap: 80px;
  overflow-x: scroll;
}

.leader-section__card {
  width: 485px;
  height: 485px;
}

.advantage-card {
  position: relative;
}

.advantage-card-item {
  width: 440px;
  height: 440px;
  border-radius: 10px;
}

.advantage-card-item--back {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border: 1px solid rgba(135, 136, 143, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0.07%,
    rgba(255, 255, 255, 0) 99.93%
  );
}

.advantage-card-item--front {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: #20222c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.advantage-card__icon {
  margin-bottom: 4rem;
}

.graphic-icon {
  width: 65px;
  height: 65px;
}

.graphic-icon__item {
  width: inherit;
  height: inherit;
}

.advantage-card__title {
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.advantage-card__text {
  color: #e0e2e9;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
}

.easy-cryptorio-section {
  width: 100%;
  margin-top: 16.8rem;
  margin-bottom: 18.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/* .easy-cryptorio-section__block {
  flex: 0 1 50%;
  width: 100%;
} */

.easy-cryptorio-section__title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 140%;
  max-width: 498px;
  margin-bottom: 3.2rem;
}

.easy-cryptorio-section__text {
  color: #e0e2e9;
  font-size: 2rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 392px;
  margin-bottom: 4rem;
}

.start-button--without-frame {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  height: 48px;
  border: none;
  display: inline-flex;
  align-items: center;
}
.easy-cryptorio-section__img {
  /* flex: 0 1 50%; */
  width: 100%;
  max-width: 556px;
  height: 0;
  padding-bottom: 33%;
  position: relative;
}

.easy-cryptorio-section__item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}
