*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #191b25;
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

.container {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: #191b25;
}

.header__inner {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 148px;
  height: 20px;
}

.logo__item {
  width: inherit;
  height: inherit;
}

.header__block {
  display: inline-flex;
  gap: 3.2rem;
  align-items: center;
}

.login-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
}

.start-button {
  height: 32px;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border-radius: 7px;
  border: 1px solid #fff;
  background: #191b25;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero {
  min-height: 100vh;
  padding-top: 25rem;
  position: relative;
}

.hero__title {
  font-size: 4rem;
  font-weight: 500;
  max-width: 500px;
  margin-bottom: 3.2rem;
}

.section-title {
  background-image: linear-gradient(90deg, #ffffff, #268eec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__text {
  color: #aeb4c8;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 392px;
  margin-bottom: 5rem;
}

.start-button--blue {
  background-color: #0077e2;
  height: 48px;
  border-color: #0077e2;
  display: inline-flex;
  align-items: center;
}

.start-button__icon {
  margin-left: 1rem;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.hero-img-back {
  position: absolute;
  right: 0px;
  top: 126px;
  /* width: 80%;
  height: 80%;
  object-fit: contain; */
  max-width: 939px;
  height: 541px;
  z-index: -1;
}

.hero-img-back__item {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-img-vector {
  position: absolute;
  left: 0;
  top: 445px;
  z-index: -2;
}

.hero-img-vector__item {
  width: 100vw;
}

.leader-section {
  margin-bottom: 15px;
}

.section__note {
  color: #268eec;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.leader-section__title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 9.9rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.leader-section__cards {
  width: 100vw;
  display: flex;
  gap: 80px;
  overflow-x: auto;
  /* scroll-margin-left: 14rem; */
}

/* .leader-section__cards:hover {
  overflow-x: auto;
}

.leader-section__cards:hover .leader-section {
  margin-bottom: 0px;
} */

.section-scroll::-webkit-scrollbar {
  width: 15px;
}

.section-scroll::-webkit-scrollbar-track {
  background-color: #565966;
}

.section-scroll::-webkit-scrollbar-thumb {
  background-color: #1d1d22;
  border: 2px solid #565966;
  border-radius: 9px;
}

.advantage-card {
  position: relative;
  width: 485px;
  height: 485px;
  flex-shrink: 0;
  margin-bottom: 3rem;
}

.advantage-card:first-child {
  margin-left: 14rem;
}

.advantage-card:last-child {
  margin-right: 16rem;
}

.advantage-card-item {
  width: 440px;
  height: 440px;
  border-radius: 10px;
}

.advantage-card-item--back {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border: 1px solid #87888f00;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0.07%,
    rgba(255, 255, 255, 0) 99.93%
  );
}

.advantage-card-item--front {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: #20222c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.advantage-card__icon {
  margin-bottom: 4rem;
}

.graphic-icon {
  width: 65px;
  height: 65px;
}

.graphic-icon__item {
  width: inherit;
  height: inherit;
}

.advantage-card__title {
  color: #fff;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.advantage-card__text {
  color: #e0e2e9;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
}

.easy-cryptorio-section {
  width: 100%;
  margin-top: 16.8rem;
  margin-bottom: 18.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/* .easy-cryptorio-section__block {
  flex: 0 1 50%;
  width: 100%;
} */

.easy-cryptorio-section__title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 140%;
  max-width: 498px;
  margin-bottom: 3.2rem;
}

.easy-cryptorio-section__text {
  color: #e0e2e9;
  font-size: 2rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 392px;
  margin-bottom: 4rem;
}

.start-button--without-frame {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  height: 48px;
  border: none;
  display: inline-flex;
  align-items: center;
}
.easy-cryptorio-section__img {
  /* flex: 0 1 50%; */
  width: 100%;
  max-width: 556px;
  height: 0;
  padding-bottom: 33%;
  position: relative;
}

.easy-cryptorio-section__item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}

.revolution-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 13.2rem;
}

.wallet-cards {
  position: relative;
  /* flex: 0 1 50%; */
  width: 604px;
  height: 505px;
}

.wallet-card {
  width: 440px;
  height: 434px;
}

.wallet-card__img {
  width: inherit;
  height: inherit;
}

.wallet-card--back {
  position: absolute;
  bottom: 0;
  right: 0;
}

.wallet-card--front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.revolution-section__title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 140%;
  max-width: 440px;
  margin-bottom: 3.2rem;
}
.revolution-section__text {
  color: #e0e2e9;
  font-size: 2rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 392px;
  margin-bottom: 4rem;
}

.pro-section {
  width: 100%;
  margin-bottom: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.pro-section__title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 140%;
  max-width: 498px;
  margin-bottom: 3.2rem;
}

.pro-section__text {
  color: #e0e2e9;
  font-size: 2rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 392px;
  margin-bottom: 4rem;
}
.pro-section__img {
  /* flex: 0 1 50%; */
  width: 100%;
  max-width: 500px;
  height: 0;
  padding-bottom: 52%;
  position: relative;
}

.pro-section__item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: contain;
}

.confidence-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100rem;
}

.confidence-section__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 3.2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.confidence-section__text {
  color: #e0e2e9;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 604px;
  margin-bottom: 6.9rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.confidence-form {
  max-width: 81.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  background-color: #191b25;
}
.confidence-form__label {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  /* margin-bottom: 2.5rem; */
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 2.5rem;
  border-bottom: 2px solid transparent;
}

.confidence-form__input {
  height: 0;
  width: 0;
  z-index: -1;
  outline: none;
}

.confidence-form__input:not(:last-of-type) {
  margin-right: 6.4rem;
}

.confidence-form__img {
  position: absolute;
  top: 80px;
  max-width: 100vw;
  z-index: -1;
  display: none;
}

/* .confidence-form__input:first-child:checked
  .confidence-form__label:first-child {
  border-bottom: 2px solid linear-gradient(91deg, #618dff 0%, #05d7e4 100%);
} */

.confidence-form__input:checked + .confidence-form__img {
  display: block;
}

.confidence-form__line {
  flex: 1 1 140%;
  height: 1px;
  background: #3e404a;
}

.feedback-section {
  margin-bottom: 20rem;
}

.feedback-section__title {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 5.6rem;
}
.feedback-section__cards {
  width: 100vw;
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-inline-start: 6rem;
}

.feedback-card {
  scroll-snap-align: start;
  width: 392px;
  height: 245px;
  flex-shrink: 0;
  margin-bottom: 3rem;
  border-radius: 8px;
  border: 1px solid #618dff;
  background: #272933;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 1.8rem;
  padding: 2.8rem;
}

.feedback-card:first-child {
  margin-left: 14rem;
}

.feedback-card:last-child {
  margin-right: 16rem;
}

.client-icon {
  width: 38px;
  height: 38px;
}

.client-icon__item {
  width: inherit;
  height: inherit;
}

.feedback-card__title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.feedback-card__subtitle {
  color: #248ded;
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 0.8rem;
}

.feedback-card__text {
  color: #e0e2e9;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
}

.news-section {
  margin-bottom: 20rem;
}

.news-section__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 9.7rem;
}

.news-section__cards {
  width: 100vw;
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-inline-start: 6rem;
}

.news-card {
  scroll-snap-align: start;
  width: 394px;
  height: 540px;
  flex-shrink: 0;
  margin-bottom: 3rem;
  border-radius: 8px;
  border: 1px solid #0cc3cf;
  background: #20222c;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2.8rem;
}

.news-card:first-child {
  margin-left: 14rem;
}

.news-card:last-child {
  margin-right: 16rem;
}

.news-card__title {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 2.6rem;
}

.news-card__text {
  color: #e0e2e9;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 160%;
  max-width: 280px;
  margin-bottom: 3rem;
}

.news-card__time {
  flex-grow: 1;
  color: #aeb4c8;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.28px;
}

.conclusion-section {
  height: 100vh;
  background-image: url(../img/conclusionBG.png);
  background-size: cover;
  position: relative;
  z-index: -2;
}

.conclusion-section__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #181818a4;
  z-index: -1;
}

.conclusion-section__inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conclusion-section__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  line-height: 140%;
  max-width: 531px;
  margin-bottom: 3.2rem;
}

.conclusion-section__text {
  color: #e0e2e9;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 5rem;
}

.conclusion-section__button {
  max-width: max-content;
  flex-grow: 0;
}
